# Used by dotenv library to load environment variables??
.env
key.json
token.key

# Used by coverage
.coverage
.coveragerc

# Used by pytest
.pytest_cache

# Docker Build file
binary/
*.tar
.docker_temp*

# Temp working files
iam.*

# Log files
logs
logs/

# cache
.cache
__pycache__
.venv

